@import-normalize
@import "tailwindcss";

:root{
--gradient-active-border:linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) ;
--Red-400-input-errors: hsl(0, 100%, 66%);
--White: hsl(0, 100%, 100%);
--Gray-200: hsl(270, 3%, 87%);
--Gray-400: hsl(212, 12%, 71%);
--Purple-950: hsl(278, 68%, 11%);
--Font-size: 18px;
}

*{
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
 
}




.gradient{
    background-image: url(./assets/bg-main-desktop.png);
    width: 35vw;
    height: 100vh;
}

.form{
    background-color: var(--White);
    width: 65vw;
    height: 100vh;
}

input{
    padding: 0.6rem;
    margin: 0.3rem auto;
    color: black;
    border: 2px var(--Gray-200) solid;
    border-radius: 5px;

}

.block input{
        width: 325px;
}

.inline{
    display: inline-flex;
    gap: 0.5rem;

}
   

button{
    background-color: var(--Purple-950);
    padding: 0.8rem 3rem;
    width: 325px;
    color: var(--White);
    border-radius: 5px;

}

.card-front{
    background-image: url(./assets/bg-card-front.png);
}

.card-back {
    background-image: url(./assets/bg-card-back.png);
}

@media (max-width:710px){
    section {
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    .gradient{
        height: 35vh;
        width: 100%;
        position: absolute;
        top: 0;
    }

    .form{
        height: 65vh;
        width: 100%;
        position: relative;
        bottom: -9rem;
        display: flex;
        flex-direction: column;
    }

    .card-front{
        top: 6rem;
        left: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 250px;
        position: relative;
        overflow: visible;
        z-index: 1;
        max-width: 300px;
    }

    .card-back{
        left: 10rem;
        bottom: 26rem;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 300px;
    }

    .card-cvc{
        right: 3rem;
    }

    /* .block input {
        max-width: 300px;
    } */
}

@media (max-width:510px){
    .card-front{
        margin-bottom: 2rem;
        left: 3rem;
        top: 5rem;
        width: 285px;
    }

    .gradient{
        width: 100%;
        margin: 0;
        padding: 0;

    }

    .card-back{
        left: 6rem;
    }

    .block input {
        max-width: 250px;
    }

    .date input {
        width: 50px;
    }

    .date label{
        font-size: 0.9rem;
    }

    .cvc input{
        width: 120px;
    }

    .form{
        bottom: -9rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button{
        max-width: 250px;
        margin-top: 1rem;
    }
}